/**===== FONTS HACKS =====**/
@font-face {
    font-family: 'Barlow-medium';
    src: url('../../fonts/new-home/Barlow-Medium.eot');
    src: url('../../fonts/new-home/Barlow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/new-home/Barlow-Medium.woff2') format('woff2'),
        url('../../fonts/new-home/Barlow-Medium.woff') format('woff'),
        url('../../fonts/new-home/Barlow-Medium.ttf') format('truetype'),
        url('../../fonts/new-home/Barlow-Medium.svg#Barlow-Medium') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-light';
    src: url('../../fonts/new-home/Barlow-Light.eot');
    src: url('../../fonts/new-home/Barlow-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/new-home/Barlow-Light.woff2') format('woff2'),
        url('../../fonts/new-home/Barlow-Light.woff') format('woff'),
        url('../../fonts/new-home/Barlow-Light.ttf') format('truetype'),
        url('../../fonts/new-home/Barlow-Light.svg#Barlow-Light') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-bold';
    src: url('../../fonts/new-home/Barlow-Bold.eot');
    src: url('../../fonts/new-home/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/new-home/Barlow-Bold.woff2') format('woff2'),
        url('../../fonts/new-home/Barlow-Bold.woff') format('woff'),
        url('../../fonts/new-home/Barlow-Bold.ttf') format('truetype'),
        url('../../fonts/new-home/Barlow-Bold.svg#Barlow-Bold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-regular';
    src: url('../../fonts/new-home/Barlow-Regular.eot');
    src: url('../../fonts/new-home/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/new-home/Barlow-Regular.woff2') format('woff2'),
        url('../../fonts/new-home/Barlow-Regular.woff') format('woff'),
        url('../../fonts/new-home/Barlow-Regular.ttf') format('truetype'),
        url('../../fonts/new-home/Barlow-Regular.svg#Barlow-Regular') format('svg');
    font-style: normal;
}

.extranjeros-page .content .content-cards .nav-pills-container { width: 70%; margin: 0 auto;}
.extranjeros-page .content .content-cards ul.nav-pills { padding: 0; list-style-image: none; border-bottom: 3px solid #E8E8E8; justify-content: center;}
.extranjeros-page .content .content-cards ul.nav-pills li.nav-item { width: 25%; text-align: center;}
.extranjeros-page .content .content-cards ul.nav-pills li a.active { background: #0033a00D; border-bottom: 4px solid #0033a0; border-radius: 0; font-family: 'Barlow-bold'; color: #0033a0;}
.extranjeros-page .content .content-cards ul.nav-pills li a { position: relative; bottom: -3px; padding: 1rem 1rem; font-size: 18px; color: #53565A;}
.extranjeros-page .content .content-cards ul.nav-pills li a i { position: relative; top: 2px; font-size: 22px; color: #FF7878;}
.extranjeros-page .content .content-cards .card-body h5.card-title { font-family: 'Barlow-medium';}
.extranjeros-page .content .content-cards .card-body a.btn-light { background: none; font-family: 'Barlow-bold'; color: #0033A0; text-transform: uppercase; border: none;}
.extranjeros-page .content .content-cards .card-body .card-button { text-align: right;}

.extranjeros-page .content .tab-content .tab-pane h3 { font-family: 'Barlow-medium'; color: #0033A0;}
.extranjeros-page .content .tab-content .tab-inner-action { text-align: center;}
.extranjeros-page .content .tab-content .tab-inner-action a.btn-primary { background: #0033A0; font-family: 'Barlow-bold'; text-transform: uppercase; border: 2px solid #0033A0;}
.extranjeros-page .content .tab-content .tab-inner-action a.btn-primary:hover { background: #FFFFFF; color: #0033A0;}

@media (max-width: 1440px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 425px) {
  .extranjeros-page .content .content-cards .nav-pills-container { width: 100%;}
  .extranjeros-page .content .content-cards ul.nav-pills li.nav-item { width: 31%;}
  .extranjeros-page .content .content-cards .card { margin-bottom: 20px;}
  .extranjeros-page .content .content-cards .col-md-4:last-child .card { margin-bottom: 0px;}
}

@media (max-width: 375px) {
  
}
