@font-face {
    font-family: "FSJoey-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/FSJoey-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "FSJoey-Heavy";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/FSJoey-Heavy.ttf") format('truetype');
}

@font-face {
    font-family: "FSJoey-Medium";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/FSJoey-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "FSJoey-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/FSJoey-Regular.ttf") format('truetype');
}

/**********BARLOW**********/

@font-face {
    font-family: "Barlow-Black";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/Barlow-Black.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/Barlow-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Light";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/Barlow-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Medium";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/Barlow-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/new-home/Barlow-Regular.ttf") format('truetype');
}