/********************RESET*****************/

#seguros-sura-home{
    position: relative;
    margin: 0px;
    padding: 0px;
}
body,html{
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden;*/
}
#seguros-sura-home input::-webkit-outer-spin-button,
#seguros-sura-home input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#seguros-sura-home input[type=number] {
  -moz-appearance: textfield;
}

.body-container,.header-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body-container{
    height: 100%;
    height: calc(100% - 122px);
    height: -moz-calc(100% - 122px);
    margin-bottom: -40px;
}

/****************BODY*****************/
.content{
    margin: 0px !important;
}
/********************SLIDESHOW ZAMIR*******************/

.slideshow{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.slideshow-scroll{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
#slideshow-wrapper{
    position: relative;
    width: 100%;
    /*width: calc(100% * 2);
    width: -moz-calc(100% * 2);*/
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    transition: left 1s;
    -webkit-transition: left 1s;
}
.slideshow-wrap{
    position: relative;
    width: 100%;
    /*width: calc(100% / 2);
    width: -moz-calc(100% / 2);*/
    height: auto;
    margin: 0px;
    padding: 0px;
}

.slideshow-img{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 425px;
    /*max-height: 400px;*/
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
.slideshow-img img{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    mix-blend-mode: multiply;
}

.slideshow-content{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 1200px;
    box-sizing: border-box;
    padding: 0px 15px;
    padding-bottom: 80px;
    height: 100%;
    top: 0px;
    left: 50%;
    left: calc(50% - (1200px / 2));
    left: -moz-calc(50% - (1200px / 2));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.slideshow-title{
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'FSJoey-Bold';
    font-size: 60px;
    color: #FFFFFF !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 15px;
}
.slideshow-link{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 47px;
    border-radius: 24px;
    box-sizing: border-box;

    border: #FFFFFF solid 2px;
    background-color: rgba(255,255,255,0);

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    text-decoration: none !important;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.slideshow-link:hover{
    background-color: rgba(255,255,255,1);
    color: #53565A !important;
    cursor: pointer;
}

#slideshow-prev-btn,
#slideshow-next-btn{
    outline: none !important;
    outline-width: 0 !important;
    position: absolute;
    display: block;
    width: 16px;
    height: 28px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
    top: 50%;
    top: calc(50% - 14px);
    top: -moz-calc(50% - 14px);
    cursor: pointer;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2;
}

#slideshow-prev-btn{
    left: 20px;
}
#slideshow-next-btn{
    right: 20px;
}

#slideshow-prev-btn::after,
#slideshow-next-btn::after,
#slideshow-prev-btn::before,
#slideshow-next-btn::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
}
#slideshow-prev-btn::after,
#slideshow-prev-btn::before{
    transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    left: 0px;
}
#slideshow-next-btn::after,
#slideshow-next-btn::before{
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    right: 0px;
} 

#slideshow-prev-btn::after,
#slideshow-next-btn::after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#slideshow-prev-btn::before,
#slideshow-next-btn::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#slideshow-prev-btn:hover{
    transform: scale(1.2) translateX(-5px);
    -webkit-transform: scale(1.2) translateX(-5px);
    -o-transform: scale(1.2) translateX(-5px);
    opacity: 0.75;
}
#slideshow-next-btn:hover{
    transform: scale(1.2) translateX(5px);
    -webkit-transform: scale(1.2) translateX(5px);
    -o-transform: scale(1.2) translateX(5px);
    opacity: 0.75;
}
#slideshow-prev-btn:hover::after,
#slideshow-next-btn:hover::after{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
#slideshow-prev-btn:hover::before,
#slideshow-next-btn:hover::before{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

.slideshow-pagination{
    position: absolute;
    width: 1200px;
    margin: 0px;
    padding: 0px 15px;
    display: block;
    box-sizing: border-box;
    height: 4px;

    bottom: 120px;
    left: 50%;
    left: calc(50% - (1200px / 2));
    left: -moz-calc(50% - (1200px / 2));
}
#slideshow-paginator{
    position: relative;
    display: flex;
    width: auto;
    height: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.slideshow-page{
    width: 4px;
    height: 4px;
    position: relative;
    display: block;
    border-radius: 2px;
    margin: 0px 5px;
    background-color: #00aec7;
    padding: 0px;

    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}

#slideshow-paginator .slideshow-page:first-child{
    margin-left: 0px;
}
#slideshow-paginator .slideshow-page:last-child{
    margin-right: 0px;
}

.slideshow-page-active{
    width: 20px;
}

/********BOTONERA ABAJO DEL SLIDESHOW***********/

.opciones-un-click{
    position: absolute;
    width: 1200px;
    height: 80px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0px;
    bottom: 0px;
    left: 50%;
    left: calc(50% - (1200px / 2));
    left: -moz-calc(50% - (1200px / 2));
}
.opciones-un-click-title{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.opciones-un-click-title span{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;

    width: 170px;
    font-family: 'Barlow-Bold';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
.opciones-un-click-title::after,
.opciones-un-click-title::before{
    content: "";
    position: absolute;
    width: 50%;
    width: calc(((100% - 170px) / 2) - 15px);
    width: -moz-calc(((100% - 170px) / 2) - 15px);
    height: 2px;
    background-color: #FFFFFF;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);
    border-radius: 1px;
}
.opciones-un-click-title::after{
    left: 0px;
}
.opciones-un-click-title::before{
    right: 0px;
}

.opciones-un-clic-nav{
    position: relative;
    width: auto;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 30px;
    justify-content: center;
}
.nav-3-link{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 16px;
    width: auto;
    height: auto;
    border-right: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.nav-3-link a{
    text-decoration: none !important;
    color: inherit !important;
    font-family: inherit !important;
    display: flex;
    align-items: center;
}
.opciones-un-clic-nav .nav-3-link:last-child{
    border-right: none;
}
.nav-3-link p{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
.nav-3-link span{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
.nav-3-link span i{
    color: #FFFFFF;
    font-size: 15px;
}

/********************INFORMATE COVID**********************/

.informate-covid-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    background: linear-gradient(to right, #0033A0 0%, #0033A0 42%, #FFFFFF 42%, #FFFFFF 100%);
    background: -webkit-linear-gradient(to right, #0033A0 0%, #0033A0 42%, #FFFFFF 42%, #FFFFFF 100%);
    background: -o-linear-gradient(to right, #0033A0 0%, #0033A0 42%, #FFFFFF 42%, #FFFFFF 100%);
}
.informate-covid-row{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    padding: 40px 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.informate-covid-title{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.informate-covid-title h1{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-family: 'Barlow-Bold';
    font-size: 36px;
    color: #FFFFFF !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.informate-covid-title::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00AEC7;
    top: 0px;
    left: 0px;
}

.informate-covid-noticias-scroll{
    position: relative;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.informate-covid-noticias{
    position: relative;
    width: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.informate-covid-noticia{
    position: relative;
    width: 255px;
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    /*border: #ECF0F1 solid 1px;*/
    background-color: #FFFFFF;
    margin-right: 30px;

    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}

.informate-covid-noticia:hover{
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.2);
}

.informate-covid-noticias .informate-covid-noticia:last-child{
    margin-right: 0px;
}
.informate-covid-noticia-img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-height: 226px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.informate-covid-noticia-img img{
    display: block;
    width: 100%;
    height: auto;

    transition: filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
    -webtki-transition: filter 0.2s, -webkit-filter 0.2s, -o-filter 0.2s;
}
.informate-covid-noticia-img img:hover{
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    -o-filter: grayscale(70%);
}
.informate-covid-noticia-content{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.informate-covid-noticia-content h5,
.informate-covid-noticia-content p{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.informate-covid-noticia-content h5{
    font-family: 'Barlow-Bold';
    font-size: 18px;
    margin-bottom: 10px;
}
.informate-covid-noticia-content p{
    font-family: 'Barlow-Regular';
    font-size: 16px;
    margin-bottom: 10px;
}
.informate-covid-noticia-link{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 8px;
    border-radius: 20px;
    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: right;
    box-sizing: border-box;
    border: rgba(0,51,160,0) solid 1px;
    text-decoration: none !important;

    transition: border 0.2s;
    -webkit-transition: border 0.2s;
}

.informate-covid-noticia-link span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin-left: 8px;
}
.informate-covid-noticia-link span i{
    color: #0033A0;
    font-size: 14px;
}

/**********cotiza tu seguro en linea************/
#cotiza-seguro-link{
    text-decoration: none !important;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}
.cotiza-seguro-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #ECF0F1;
    box-sizing: border-box;
    padding: 35px 0px 28px 0px;
}

.cotiza-seguro-title{
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
.cotiza-seguro-title::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 50%;
    left: calc(50% - 27.5px);
    left: -moz-calc(50% - 27.5px);
}
.cotiza-seguro-title h1{
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}


.cotiza-seguro-col{
    position: relative;
    width: 1100px;
    height: 140px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

#cotiza-seguro-wrap{
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
}

.cotiza-seguro-row{
    position: relative;
    display: flex;
}
.cotiza-seguro-label{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;

    font-family: 'Barlow-Medium';
    font-size: 18px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    box-sizing: border-box;
}

.cotiza-seguro-select{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
    width: 250px;
    height: 50px;
}
.cotiza-seguro-select select{
    outline: none !important;
    outline-width: 0 !important;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: #ECF0F1 solid 1px;
    background-color: #FFFFFF;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    box-sizing: border-box;
    padding: 0px 10px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

    transition: border 0.2s, box-shadow 0.2s;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
}
.cotiza-seguro-select span{
    position: absolute;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 5px;
    z-index: 2;

    background-color: #FFFFFF;
    font-family: 'Barlow-Regular';
    font-size: 14px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 10px;
    visibility: hidden;
}
.cotiza-seguro-select-active select{
    border: #8188a9 solid 1px;
    box-shadow: none;
}
.cotiza-seguro-select-active span{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s;
    -webkit-transition: visibility 0s, opacity 0.2s;
}
                    
#cotiza-seguro-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px;
    padding: 0px 30px;

    background-color: #FFFFFF;
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
#cotiza-seguro-btn:hover{
    background-color: #0033A0;
    color: #FFFFFF;
    cursor: pointer;
}
.cotiza-seguro-btn-locked{
    background-color: #ECF0F1 !important;
    border: none !important;
    color: #53565A !important;
    cursor: not-allowed !important;
}

.cotiza-seguro-row2{
    position: relative;
    margin: 0px;
    padding: 30px;
    box-sizing: border-box;
}

.cotiza-seguro-form{
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.cotiza-seguro-form-group{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

.cotiza-seguro-input{
    outline: none !important;
    outline-width: 0 !important;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 42px;
    border-radius: 5px;
    border: #ECF0F1 solid 1px;
    background-color: #FFFFFF;

    font-family: 'Barlow-Regular', Arial;
    font-size: 14px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    box-sizing: border-box;
    padding: 0px 20px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

    transition: border 0.2s, box-shadow 0.2s;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
}
.cotiza-seguro-input:focus{
    border: #8188a9 solid 1px;
    box-shadow: none;
}

.cotiza-seguro-action{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px auto;
    padding: 0px 30px;

    background-color: #0033A0;
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.cotiza-seguro-action:hover{
    background-color: #002d8e;
    cursor: pointer;
}

/********COLLAPSED*********/
.cotiza-seguro-collapsed{
    height: 100%;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: flex-start;
}
.cotiza-seguro-collapsed .cotiza-seguro-row{
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cotiza-seguro-collapsed .cotiza-seguro-row2{
    display: none;
}
.cotiza-seguro-collapsed .cotiza-seguro-label{
    margin-right: 10px;
}
.cotiza-seguro-collapsed .cotiza-seguro-select{
    margin-right: 25px;
}
.cotiza-seguro-collapsed #cotiza-seguro-btn span:first-child{display: block;}
.cotiza-seguro-collapsed #cotiza-seguro-btn span:last-child{display: none;}
    
/*********EXPANDED*********/
.cotiza-seguro-expanded{
    height: auto;
    min-height: 100%;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}
.cotiza-seguro-expanded .cotiza-seguro-row{
    width: 45%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cotiza-seguro-expanded .cotiza-seguro-row::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #f0f3f4;
    top: 0px;
    left: 100%;
    left: calc(100% - 1px);
    left: -moz-calc(100% - 1px);
}
.cotiza-seguro-expanded .cotiza-seguro-row2{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cotiza-seguro-expanded .cotiza-seguro-select,
.cotiza-seguro-expanded .cotiza-seguro-label{
    margin-bottom: 15px;
}
.cotiza-seguro-expanded #cotiza-seguro-btn span:first-child{display: none;}
.cotiza-seguro-expanded #cotiza-seguro-btn span:last-child{display: block;}


/*********CAPACIDADES PARA TI***********/
.capacidades-parati-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding: 35px 0px;
}

.capacidades-parati-title{
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
.capacidades-parati-text{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 15px;
    margin: 0px auto;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 25px;
}
.capacidades-parati-title::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 50%;
    left: calc(50% - 27.5px);
    left: -moz-calc(50% - 27.5px);
}
.capacidades-parati-title h1{
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

#capacidades-parati-slider{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

#capacidades-parati-slider-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px;
    padding: 10px 0px;
    box-sizing: border-box;
    display: block;
}
#capacidades-parati-slider-wrap{
    position: relative;
    width: 100%;
    /*width: calc(100% * 2);
    width: -moz-calc(100% * 2);*/
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    transition: left 1s;
    -webkit-transition: left 1s;
}
.capacidades-parati-row{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    /*width: calc(100% / 2);
    width: -moz-calc(100% / 2);*/
    height: auto;
    margin: 0px;
    padding: 0px;
}
.capacidades-parati-card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33%;
    width: calc(33.33% - 15px);
    width: -moz-calc(33.33% - 15px);
    margin: 0px 15px;
    padding: 0px;

    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}
.capacidades-parati-card:hover{
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.2);
}

.capacidades-parati-card-img{
    position: relative;
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.capacidades-parati-card-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capacidades-parati-card-img p{
    position: absolute;
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'FSJoey-Bold';
    font-size: 18px;
    color: #0033A0;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    top: 10px;
    left: 10px;
}
.capacidades-parati-card-img .capacidad-derecha{
    left: initial;
    right: 10px;
}
.capacidades-parati-card-img .capacidad-blanco{
    color: #FFFFFF;
}
.capacidades-parati-card-img .capacidad-centro{
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.capacidades-parati-card-content{
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100% - 220px);
    height: -moz-calc(100% - 220px);
    box-sizing: border-box;
    padding: 16px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.capacidades-parati-card-text{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 15px;
}
.capacidades-parati-card-text p{
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.capacidades-parati-card-text span{
    font-family: 'Barlow-Bold';
}
.capacidades-parati-card-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none !important;

    width: auto;
    height: 25px;
    border-radius: 15px;
    border: rgba(0,51,160,0) solid 1px;
    background-color: rgba(0,0,0,0);

    font-family: 'FSJoey-Bold';
    font-size: 16px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: right;

    transition: border 0.2s;
    -webkit-transition: border 0.2s;
}

.capacidades-parati-card-link i{
    margin-left: 10px;
}

#capacidades-parati-paginator,
#enterate-paginator,
#beneficios-noticias-paginator{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#capacidades-parati-paginator-prev,
#capacidades-parati-paginator-next,
#enterate-paginator-prev,
#enterate-paginator-next,
#beneficios-noticias-paginator-prev,
#beneficios-noticias-paginator-next
{
    outline: none;
    outline-width: 0;
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
}
#beneficios-noticias-paginator-prev{
    margin-right: 5px;
}
#beneficios-noticias-paginator-next{
    margin-left: 5px;
}
#capacidades-parati-paginator-prev i,
#capacidades-parati-paginator-next i,
#enterate-paginator-prev i,
#enterate-paginator-next i,
#beneficios-noticias-paginator-prev i,
#beneficios-noticias-paginator-next i{
    color: #00AEC7;
    font-size: 14px;

    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}
#capacidades-parati-paginator-prev:hover i,
#capacidades-parati-paginator-next:hover i,
#enterate-paginator-prev:hover i,
#enterate-paginator-next:hover i,
#beneficios-noticias-paginator-prev:hover i,
#beneficios-noticias-paginator-next:hover i{
    color: #0033A0;
}
#capacidades-parati-pages,
#enterate-pages{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.capacidades-parati-page,
.enterate-page{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    padding: 0px;
    cursor: pointer;
}
.capacidades-parati-page::before,
.capacidades-parati-page::after,
.enterate-page::before,
.enterate-page::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}
.capacidades-parati-page::before,
.enterate-page::before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ECF0F1;

    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.capacidades-parati-page::after,
.enterate-page::after{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #00AEC7;
    opacity: 0;

    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.capacidades-parati-page:hover::before,.capacidades-parati-page-active::before,
.enterate-page:hover::before,.enterate-page-active::before{
    background-color: #00AEC7;
}
.capacidades-parati-page:hover::after,.capacidades-parati-page-active::after,
.enterate-page:hover::after,.enterate-page-active::after{
    opacity: 0.3;
}

/*******Noticias 2********/
.noticias2-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding: 35px 0px;
}

.noticias2-box{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px;

    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.enterate-col{
    position: relative;
    margin: 0px;
    padding: 40px 40px;
    box-sizing: border-box;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(to bottom, #ECF0F1 0%, #ECF0F1 42%, #FFFFFF 42%, #FFFFFF 100%);
    background: -webkit-linear-gradient(to bottom, #ECF0F1 0%, #ECF0F1 42%, #FFFFFF 42%, #FFFFFF 100%);
    background: -o-linear-gradient(to bottom, #ECF0F1 0%, #ECF0F1 42%, #FFFFFF 42%, #FFFFFF 100%);
}
.enterate-col > h1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 10px;
    padding-bottom: 10px;
    margin: 0px;

    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
}
.enterate-col > h1::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 10px;
}

.enterate-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
#enterate-wrap{
    position: relative;
    width: 100%;
    /*width: calc(100% * 2);
    width: -moz-calc(100% * 2);*/
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    transition: left 0.5s;
    -webkit-transition: left 0.5s;
}

.enterate-card{
    position: relative;
    width: 100%;
    /*width: calc(100% / 2);
    width: -moz-calc(100% / 2);*/
    margin: 0px;
    padding: 0px;
    display: block;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.enterate-card-row{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.enterate-card-img,
.blog-sura-card-img{
    position: relative;
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.blog-sura-card-img{
    height: 185px !important;
}
.enterate-card-img img,
.blog-sura-card-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
}
.enterate-card-content,
.blog-sura-card-content{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.blog-sura-card-content{
    height: 100%;
    height: calc(100% - 185px);
    height: -moz-calc(100% - 185px);
}

.enterate-card-date,
.blog-sura-card-date{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 12px;
    color: #8189A9;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.enterate-card-date i,
.blog-sura-card-date i{
    columns: #8189A9;
    font-size: 12px;
    margin-right: 10px;
}

.enterate-card-content > h3,
.blog-sura-card-content > h3{
    display: block;
    margin: 0px;
    width: 100%;
    position: relative;
    padding: 0px;
    padding-right: 20%;
    box-sizing: border-box;

    font-family: 'Barlow-Medium';
    font-size: 18px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 12px;
}
.enterate-card-content > p,
.blog-sura-card-content > p{
    display: block;
    margin: 0px;
    width: 100%;
    position: relative;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 25px;
}
.enterate-card-link,
.blog-sura-card-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none !important;

    width: auto;
    height: 25px;
    border-radius: 15px;
    border: rgba(0,51,160,0) solid 1px;
    background-color: rgba(0,0,0,0);

    font-family: 'FSJoey-Bold';
    font-size: 16px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: right;

    transition: border 0.2s;
    -webkit-transition: border 0.2s;
}

.enterate-card-link i,
.blog-sura-card-link i{
    margin-left: 10px;
}


/**************BLOG SURA****************/
.blog-sura{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 30px 0px;
    background-color: #ECF0F1;
    display: block;
}

.blog-sura-container{
    position: relative;
    width: 1200px;
    display: block;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

.blog-sura-title{
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}
.blog-sura-title::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 50%;
    left: calc(50% - 27.5px);
    left: -moz-calc(50% - 27.5px);
}
.blog-sura-title h1{
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.blog-sura-row{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-sura-card{
    position: relative;
    width: 50%;
    width: calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}
.blog-sura-container > a{
    text-decoration: none !important;
}
.blog-sura-ir-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px auto;
    padding: 0px 30px;
    margin-top: 35px;

    background-color: rgba(0,51,160,0);
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.blog-sura-ir-btn:hover{
    background-color: #0033A0;
    color: #FFFFFF;
    cursor: pointer;
}
.blog-sura-ir-btn a{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.novedades-col{
    position: relative;
    margin: 0px;
    padding: 40px 40px;
    box-sizing: border-box;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.novedades-title{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.novedades-title::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 0px;
    left: 0px;
}
.novedades-title > h1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 15px;
    margin: 0px;

    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.novedades-title > p{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 15px;
    margin: 0px;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}

.novedades-row{
    position: relative;
    width: 100%;
    height: auto;
    margin: 35px 0px;
    padding: 0px;
    box-sizing: border-box;
}
.novedad-content{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.novedades-row .novedad-content:last-child{
    margin-bottom: 0px;
}

.novedad-img{
    position: relative;
    width: 160px;
    height: 105px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.novedad-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.novedad-box{
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: auto;
    width: calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    height: auto;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.novedad-text{
    position: relative;
    width: 100%;
    width: calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    height: auto;
    margin: 0px;
    padding: 0px 30px;
    display: block;
    box-sizing: border-box;
}
.novedad-text p{
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow-Medium';
    font-size: 18px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}
.novedad-text-tag{
    position: relative;
    display: inline-flex;
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px 10px;
    border-radius: 12px;

    font-family: 'Barlow-Medium';
    font-size: 14px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    background-color: #ECF0F1;
}
.novedad-text-tag:hover{
    background-color: #d2dcdf;
    cursor: pointer;
}

.novedad-leer-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 100px;
    height: 42px;
    margin: 0px;
    padding: 0px;

    background-color: #FFFFFF;
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.novedad-leer-btn:hover{
    background-color: #0033A0;
    color: #FFFFFF;
    cursor: pointer;
}
.novedad-leer-btn i{
    display: none;
}
.novedad-leer-btn span{
    display: initial;
}

#novedad-ver-todas-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px auto;
    padding: 0px 30px;

    background-color: #0033A0;
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
#novedad-ver-todas-btn:hover{
    background-color: #002d8e;
    cursor: pointer;
}

/********************BENEFICIOS**********************/

.beneficios-container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.beneficios-row{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    padding: 40px 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.beneficios-title{
    position: relative;
    display: block;
    width: 25%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.beneficios-title h1{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-family: 'Barlow-Bold';
    font-size: 36px;
    color: #0033A0 !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
}
.beneficios-title p{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #0033A0;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.beneficios-title h1::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00AEC7;
    top: 0px;
    left: 0px;
}

.beneficios-noticias{
    position: relative;
    width: 75%;
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
#beneficios-noticias-wrap{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
}
#beneficios-noticias-scroll{
    position: relative;
    width: auto;
    width: calc((220px + 15px) * 5);
    width: -moz-calc((220px + 15px) * 5);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;

    transition: left 1s;
    -webkit-transition: left 1s;
}
.beneficios-noticias-scroll-start{
    left: 0px;
}
.beneficios-noticias-scroll-end{
    left: 100%;
    left: calc(100% - ((220px + 15px) * 5));
    left: -moz-calc(100% - ((220px + 15px) * 5));
}

.beneficios-noticia{
    position: relative;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    
    margin-left: 15px;

    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    text-decoration: none !important;
}

#beneficios-noticias-scroll .beneficios-noticia{
    width: 220px;
}
#beneficios-noticias-wrap .beneficios-noticia{
    width: 33.33%;
    width: calc(33.33% - 30px);
    width: -moz-calc(33.33% - 30px);
}

.beneficios-noticia:hover{
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.2);
}

.beneficios-noticia-img{
    position: relative;
    display: block;
    width: 100%;
    height: 340px;
    overflow: hidden;
    /*background: linear-gradient(to bottom, rgba(83,86,90,0.5), rgba(17,17,18,0.5));
    background: -moz-linear-gradient(to bottom, rgba(83,86,90,0.5), rgba(17,17,18,0.5));
    background: -webkit-linear-gradient(to bottom, rgba(83,86,90,0.5), rgba(17,17,18,0.5));*/
    background-color: rgba(83,86,90,0.5);

    margin: 0px;
    padding: 0px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.beneficios-noticia-img:hover{
    cursor: pointer;
    /*background: linear-gradient(to bottom, rgba(83,86,90,0.7), rgba(17,17,18,0.7));
    background: -moz-linear-gradient(to bottom, rgba(83,86,90,0.7), rgba(17,17,18,0.7));
    background: -webkit-linear-gradient(to bottom, rgba(83,86,90,0.7), rgba(17,17,18,0.7));*/
    background-color: rgba(83,86,90,1);
}

.beneficios-noticia-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.beneficios-noticia-info{
    position: absolute;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 20px;
    padding-top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 0px;
}
.beneficios-noticia-title{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Barlow-Bold';
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
}
.beneficios-noticia-link{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF !important;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    cursor: pointer;
}
.beneficios-noticia-link i{
    margin-left: 10px;
}

/**********Enlaces de interés**********/
.enlaces-interes-container{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 40px 0px;
    box-sizing: border-box;

    background: linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
    background: -webkit-linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
    background: -o-linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
}

.enlaces-interes-box{
    position: relative;
    width: 960px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: auto;
    min-height: 305px;
}

.enlaces-interes-col1,#enlaces-interes-col2{
    position: relative;
    width: 50%;
    margin: 0px;
    box-sizing: border-box;
}
.enlaces-interes-col1{
    background-repeat: no-repeat;
    background-position: 0px center;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#enlaces-interes-col2{
    background-color: #00AEC7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40px;
}
.enlaces-interes-row1{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.enlaces-interes-row1 h1{
    position: relative;
    width: auto;
    display: block;
    margin: 0px;
    padding: 10px 0px;
    padding-right: 40px;
    box-sizing: border-box;    

    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}
.enlaces-interes-row1 h1::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #00AEC7;
    top: 100%;
    top: calc(100% - 2px);
    top: -moz-calc(100% - 2px);
    left: 0px;
}

.enlaces-interes-list{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.enlaces-interes-list p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 26px;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 7px 0px;
    padding: 0px 24px;
    border-radius: 13px 0px 0px 13px;
    background-color: rgba(0,174,199,0);

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: left;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.enlaces-interes-list p::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0033A0;
    top: 50%;
    top: calc(50% - 4px);
    top: -moz-calc(50% - 4px);
    left: 12px;
    left: calc(12px - 4px);
    left: -moz-calc(12px - 4px);

    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.enlaces-interes-list p:hover,
.enlaces-interes-list-active{
    cursor: pointer;
    color: #FFFFFF !important;
    background-color: rgba(0,174,199,1) !important;
}
.enlaces-interes-list p:hover::after,
.enlaces-interes-list-active::after{
    background-color: #FFFFFF !important;
}

.enlaces-interes-list p:first-child{
    margin-top: 0px;
}
.enlaces-interes-list p:last-child{
    margin-bottom: 0px;
}
.enlaces-interes-list::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    height: calc(100% - 26px);
    height: -moz-calc(100% - 26px);
    left: 12px;
    left: calc(12px - 1px);
    left: -moz-calc(12px - 1px);
    top: 13px;
    background-color: #0033A0;
}

.enlaces-interes-row2{
    position: relative;
    display: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.enlaces-interes-row-active{
    display: block !important;
}
.enlaces-interes-row2 > a{
    text-decoration: none !important;
}
.enlaces-interes-row2 p{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: block;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
}

.enlaces-interes-conocer-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px;
    padding: 0px 30px;

    background-color: rgba(0,174,199,1);
    border: #FFFFFF solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.enlaces-interes-conocer-btn:hover{
    background-color: rgba(255,255,255,1);
    color: #00aec7;
    cursor: pointer;
}


/**********VISITA OTROS********/
.visita-container{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 40px 0px;
    display: block;
    box-sizing: border-box;
}
.visita-title{
    position: relative;
    width: auto;
    height: auto;
    display: block;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
}
.visita-title h1{
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;

    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
.visita-title::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 50%;
    left: calc(50% - 25px);
    left: -moz-calc(50% - 25px);
}

.visita-fluid{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: block;
}
.visita-fluid::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 47.5px);
    height: -moz-calc(100% - 47.5px);
    background-color: #ECF0F1;
    left: 0px;
    bottom: 0px;
}

.visita-row{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 40px;
}

.visita-col{
    position: relative;
    width: 190px;
    height: auto;
    margin: 0px 40px;
    padding: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.visita-row .visita-col:first-child{
    margin-left: 0px;
}
.visita-row .visita-col:last-child{
    margin-right: 0px;
}

.visita-icon{
    position: relative;
    width: 95px;
    height: 95px;
    border: #ECF0F1 solid 1px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    margin-bottom: 12px;
}
.visita-icon img{
    display: block;
    width: 55px;
    height: auto;
    margin: 0px;
}

.visita-name{
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium' !important;
    font-size: 18px;
    color: #53565A !important;
    text-align: center;
    font-weight: normal !important;
    line-height: normal !important;
    margin-bottom: 15px;
}
.visita-text{
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 15px;
}

.visita-col > a{
    text-decoration: none !important;
}
.visita-ir-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px;
    padding: 0px 30px;

    background-color: rgba(0,51,160,0);
    border: #0033A0 solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.visita-ir-btn:hover{
    background-color: #0033A0;
    color: #FFFFFF;
    cursor: pointer;
}

/*****************IMAGES***************/
.enlaces-interes-col1{
    background-image: url(../../images/home-2021/enlaces-interes-back.png);
    /*background-image: url(../img/enlaces-interes-back.png);*/
}