/**********Enlaces de interés**********/
.enlaces-interes-container{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 40px 0px;
    box-sizing: border-box;

    background: linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
    background: -webkit-linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
    background: -o-linear-gradient(to right, #0033A0 0%, #0033A0 60%, #FFFFFF 60%, #FFFFFF 100%);
}

.enlaces-interes-box{
    position: relative;
    width: 960px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.enlaces-interes-col1,.enlaces-interes-col2{
    position: relative;
    width: 50%;
    margin: 0px;
    box-sizing: border-box;
}
.enlaces-interes-col1{
    background-image: url(../img/enlaces-interes-back.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.enlaces-interes-col2{
    background-color: #00AEC7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 50px;
}
.enlaces-interes-row1{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.enlaces-interes-row1 h1{
    position: relative;
    width: auto;
    display: block;
    margin: 0px;
    padding: 10px 0px;
    box-sizing: border-box;

    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.enlaces-interes-row1 h1::after{
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    margin: 0px;
    padding: 0px;
    background-color: #00AEC7;
    top: 100%;
    top: calc(100% - 2px);
    top: -moz-calc(100% - 2px);
    left: 0px;
}

.enlaces-interes-list{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.enlaces-interes-list p{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 8px 0px;
    padding: 5px 25px;
    border-radius: 13px 0px 0px 13px;
    background-color: #FFFFFF;

    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.enlaces-interes-list p::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0033A0;
    top: 50%;
    top: calc(50% - 3px);
    top: -moz-calc(50% - 3px);
    left: 12.5px;
    left: calc(12.5px - 3px);
    left: -moz-calc(12.5px - 3px);

    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.enlaces-interes-list p:hover{
    background-color: #00AEC7;
}
.enlaces-interes-list p:hover::after{
    background-color: #FFFFFF;
}

.enlaces-interes-row2{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.enlaces-interes-row2 p{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: block;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
}

.enlaces-interes-conocer-btn{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: auto;
    height: 42px;
    margin: 0px auto;
    padding: 0px 30px;

    background-color: rgba(0,174,199,1);
    border: #FFFFFF solid 2px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 21px;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
}
.enlaces-interes-conocer-btn:hover{
    background-color: rgba(255,255,255,1);
    color: #00aec7;
    cursor: pointer;
}